<template>
  <div class="col-md-12" >
      <form class="form-horizontal">
        <h4 slot="header" class="card-title">
        </h4>
        <div class="row">
          <label class="col-md-3 col-form-label">Office Name</label>
          <div class="col-md-9">
            <fg-input placeholder="" v-model="office.name"></fg-input>
          </div>
          <label class="col-md-3 col-form-label">Customer Service Phone</label>
          <div class="col-md-9">
            <fg-input placeholder="" v-model="office.customerServicePhone"></fg-input>
          </div>
          <label class="col-md-3 col-form-label">Order Title Email</label>
          <div class="col-md-9">
            <fg-input placeholder="" v-model="office.orderTitleEmail"></fg-input>
          </div>
          <label class="col-md-3 col-form-label">Default Farm Credits</label>
          <div class="col-md-9">
            <fg-input placeholder="" v-model="office.defaultFarmCredits"></fg-input>
          </div>
          <label class="col-md-3 col-form-label">Default Profile Credits</label>
          <div class="col-md-9">
            <fg-input placeholder="" v-model="office.defaultProfileCredits"></fg-input>
          </div>
          <label class="col-md-3 col-form-label">Enabled Products</label>
          <div class="col-md-9">
            <div class="col-sm-4 col-sm-offset-1">
              <p-checkbox v-model="office.enabledProducts.farmTools">Farm Tools</p-checkbox>
              <p-checkbox v-model="office.enabledProducts.walkingFarm">Walking Farm Tools</p-checkbox>
              <p-checkbox v-model="office.enabledProducts.calculators">Calculators</p-checkbox>
            </div>
          </div>

        </div>
        <div slot="footer" class="row">
          <label class="col-md-3"></label>
          <div class="col-md-9">
            <p-button @click="save" type="success" round>
              Save
            </p-button>
            <p-button @click="cancelEditFn" type="danger" round>
              Cancel
            </p-button>
          </div>
        </div>
      </form>
  </div> <!--  end col-md-6  -->
</template>

<script>
    export default {
        name: "OfficeEdit",
        props: {
          cancelEditFn: Function,
          saveEditFn: Function,
          office: Object
        },
        data: function () {
          return {
          }
        },
        methods: {
          save() {
            let r = this.saveOfficeData();
            this.saveEditFn(r);
          },
          saveOfficeData() {
            let uri = "/office/" + this.office.id;
            console.log(this.office);
            this.axios.patch(uri, this.office).then(
            response => {
              this.saveEditFn("Office Saved");
            }
            );
          }
        }
    }
</script>

<style scoped>
</style>
