<template>
  <div>
    <div class="card" v-if="loaded">
      <div class="card-header">
        <h5 class="card-title">Offices</h5>
        <p-button type="success" size="sm" icon @click="addOffice()">
            +
        </p-button><span style="padding-left: 4px">Add Office</span>

        <span>{{messages}}</span>
      </div>
      <div class="card-body row" v-if="!showEdit">
        <div class="col-sm-12">
          <el-table :data="offices" header-row-class-name="text-primary">
            <el-table-column type="index">
            </el-table-column>
            <el-table-column prop="name"
                             label="Name">
            </el-table-column>
            <el-table-column prop="RepUserCount.repCount"
                             label="Reps">
            </el-table-column>
            <el-table-column prop="RepUserCount.userCount"
                             label="Users">
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Actions">
              <template slot-scope="props">
                <p-button type="success" size="sm" icon @click="handleEdit(props.$index, props.row)">
                  <i class="fa fa-edit"></i>
                </p-button>
                <p-button type="danger" size="sm" icon @click="handleDelete(props.$index, props.row)">
                  <i class="fa fa-times"></i>
                </p-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="card-body row" v-if="showEdit">
        <office-edit
          v-bind:office="editingOffice"
          v-bind:save-edit-fn="saveEdit"
          v-bind:cancel-edit-fn="cancelEdit"> </office-edit>
      </div>
    </div>
    <div v-if="!loaded">
      Loading...
      <Loading></Loading>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import OfficeEdit from 'src/components/UserAdmin/OfficeEdit'
  import Loading from 'src/components/Dashboard/Layout/LoadingMainPanel.vue'
  import swal from 'sweetalert2'
  import {Button, Card} from 'src/components/UIComponents'
  import _ from 'lodash';

  Vue.use(Table);
  Vue.use(TableColumn);

  const EmptyOffice = {
    name: "",
    customerServicePhone: "",
    orderTitleEmail: "",
    defaultFarmCredits: 0,
    defaultProfileCredits: 0,
    defaultDocumentCredits: 0,
    enabledProducts: {
      farmTools: false,
      walkingFarm: false,
      calculators: false
    }
  };

  export default{
    components: {
      OfficeEdit,
      Loading
    },
    data () {
      return {
        offices: [],
        showEdit: false,
        messages: '',
        editingOffice: null,
        loaded: false,
        detailLoaded: false
      }
    },
    created: function() {
      this.loaded = false;
      this.fetchOffices();
    },
    methods: {
      fetchOffices() {
        let uri = "/office";
        this.axios.get(uri).then(response => {
          this.offices = response.data;
        }).finally(() => {this.loaded = true});
      },
      handleEdit (index, row) {
        this.showEdit = true;
        this.editingOffice = this.offices[index];
      },
      async handleDelete (index, row) {
        this.editingOffice = this.offices[index];
        let uri = "/office/" + this.editingOffice.id;
        let confirmed = await swal({
          title: 'Are you sure?',
          text: `You won't be able to revert this!`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).catch(swal.noop);
        if (confirmed) {
          console.log(uri);
          let response = await this.axios.delete(uri);
          let dialog = await swal({
            title: 'Office Deleted',
            //text: 'Your file has been deleted.',
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          }).catch((err) => {
            console.log(err)
          }).finally((r) => {
            this.fetchOffices();
          });
        }
      },
      cancelEdit() {
        this.showEdit = false;
      },
      saveEdit() {
        this.showEdit = false;
        this.fetchOffices();
      },
      addOffice() {
        let newOffice = _.cloneDeep(EmptyOffice);
        this.editingOffice = newOffice;
        this.showEdit = true;
        this.detailLoaded = true;
      }
    }
  }
</script>
<style lang="scss">
  .el-table .td-actions{
    button.btn {
      margin-right: 5px;
    }
  }
</style>
