<template>
  <div class="col-md-12" >
    <form class="form-horizontal">
      <h4 slot="header" class="card-title">
      </h4>
      <div class="row">
        <label class="col-md-3 col-form-label">First Name</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.userDetail.firstName"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Last Name</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.userDetail.lastName"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Office</label>
        <div class="col-md-9">
          <el-select class="select-info col-md-6"
                     size="large"
                     :placeholder="selectedOfficePlaceholder"
                     v-show="officesLoaded"
                     :value="officeId"
                     @change="selectOfficeChange"
                     ref="selectedOffice"
          >
            <el-option v-for="office in offices"
                       class="select-info"
                       :label="office.name"
                       :key="office.id"
                       :value="office.id">
            </el-option>
          </el-select>
          <el-select class="select-info col-md-6"
                     size="large"
                     value=""
                     :placeholder="selectedOfficePlaceholder"
                     v-show="!officesLoaded">
          </el-select>
        </div>
        <label class="col-md-3 col-form-label">Company</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.userDetail.company"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Rep Code</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.repDetail.repCode"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Email</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.authDetail.email"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Phone</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.authDetail.phoneNumber"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Photo Url</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.userDetail.agentPhotoUrl"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Default Profile Credits</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.repDetail.defaultProfileCredits"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Default Farm Credits</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.repDetail.defaultFarmCredits"></fg-input>
        </div>
        <label class="col-md-3 col-form-label">Default Document Credits</label>
        <div class="col-md-9">
          <fg-input placeholder="" v-model="rep.repDetail.defaultDocumentCredits"></fg-input>
        </div>

      </div>
      <div slot="footer" class="row">
        <label class="col-md-3"></label>
        <div class="col-md-9">
          <p-button @click="save" type="success" round>
            Save
          </p-button>
          <p-button @click="cancelEditFn" type="danger" round>
            Cancel
          </p-button>
        </div>
      </div>
    </form>
  </div> <!--  end col-md-6  -->
</template>

<script>
  import { Select, Option} from 'element-ui';
  export default {
    components: {
      [Option.name]: Option,
      [Select.name]: Select,
    },
    name: "RepEdit",
    props: {
      cancelEditFn: Function,
      saveEditFn: Function,
      rep: Object
    },
    mounted: async function() {
      await this.loadOffices();
      console.log(this.rep);
      this.officeId = this.rep.userDetail.officeId;
    },
    data: function () {
      return {
        officeName: "",
        officeId: null,
        office: null,
        offices: [],
        officesLoaded: false,
        selectedOfficePlaceholder: "Loading Offices.."
      }
    },
    methods: {
      async loadOffices() {
        //populate salesrep dropdown
        this.officesLoaded = false;
        let office_url = "/office/";
        let office_response = await this.axios.get(office_url);
        this.offices = office_response.data;
        this.selectedOfficePlaceholder = "Select Office";
        this.officesLoaded = true;
      },
      selectOfficeChange(v) {
        this.officeId = v;
        this.office = _.filter(this.offices, (x) => {if (x.id === v) return x;})[0];
      },
      save() {
        let r = this.saveUserData();
      },
      saveUserData() {
        //check if new user
        if (this.rep.userId === "new") {
          let uri = "/user/";
          this.axios.post(uri, this.rep).then(
            response => {
              this.saveEditFn("User Saved");
            }
          );
        }
        else {
          let uri = "/user/" + this.rep.userId;
          console.log('saving user');
          this.axios.patch(uri, this.rep).then(
            response => {
              this.saveEditFn("User Saved");
            }
          );
        }
      }
    }
  }
</script>

<style scoped>
</style>
