<template>
  <div>
    <div class="card" v-if="loaded">
      <div class="card-header">
        <h5 class="card-title">Sales Reps</h5>
        <p-button type="success" size="sm" icon @click="addRep">
          +
        </p-button><span style="padding-left: 4px">Add Rep</span>
      </div>
      <div class="card-body row">
        <div class="col-sm-12">
          <el-table :data="reps" header-row-class-name="text-primary">
            <el-table-column type="index">

            </el-table-column>
            <el-table-column :formatter="formatName"
                             label="Rep Name">
            </el-table-column>
            <el-table-column prop="repDetail.repCode"
                             label="repCode">
            </el-table-column>
            <el-table-column prop="RepUserCount"
                             label="Users">
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Actions">
              <template slot-scope="props">
                <p-button type="success" size="sm" icon @click="handleEdit(props.$index, props.row)">
                  <i class="fa fa-edit"></i>
                </p-button>
                <p-button type="danger" size="sm" icon @click="handleDelete(props.$index, props.row)">
                  <i class="fa fa-times"></i>
                </p-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="card-body row" v-if="showEdit">
        <rep-edit
          v-bind:rep="editingUser"
          v-bind:save-edit-fn="saveEdit"
          v-bind:cancel-edit-fn="cancelEdit"> </rep-edit>
      </div>
    </div>
    <div v-if="!loaded">
      Loading...
      <Loading></Loading>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import RepEdit from 'src/components/UserAdmin/RepEdit.vue'
  import Loading from 'src/components/Dashboard/Layout/LoadingMainPanel.vue'
  import swal from 'sweetalert2'
  import {Button, Card} from 'src/components/UIComponents'
  import _ from 'lodash';

  Vue.use(Table);
  Vue.use(TableColumn);

  const EmptyRep = {
    authDetail: {
      email: "",
      phoneNumber: ""
    },
    userId: "new",
    userDetail: {
      userType: "TitleRep",
      referralUserId: "",
      company: "",
      officeId: "",
      firstName: "",
      lastName: "",
      primaryPhoneSMS: true,
    },
    repDetail: {
      repCode: "",
      companyId: "",
      defaultProfileCredits: 0,
      defaultFarmCredits: 0,
      defaultDocumentCredits: 0,
      agentPhotoUrl: ""
    }
  };

  export default{
    components: {
      RepEdit,
      Loading,
      Button,
      Card
    },
    data () {
      return {
        reps: [],
        showEdit: false,
        messages: '',
        editingUser: null,
        loaded: false,
        detailLoaded: false
      }
    },
    created: function() {
      this.fetchReps();
    },
    methods: {
      formatName( user ) {
        return user.userDetail.firstName + " " + user.userDetail.lastName;
      },
      fetchReps() {
        this.loaded = false;
        let uri = "/users?user_type=TitleRep";
        this.axios.get(uri).then(response => {
          this.reps = response.data;
          console.log(response.data);
        }).finally(() => {this.loaded = true});
      },
      handleEdit (index, row) {
        this.detailLoaded = false;
        //todo: fetch full user detail
        this.editingUser = this.reps[index];
        let uri = "/user/" + this.editingUser.userId;
        this.axios.get(uri).then(response => {
          this.editingUser = response.data;
          this.detailLoaded = true;
          this.showEdit = true;
        });
      },
      async handleDelete (index, row) {
        this.editingUser = this.reps[index];
        let uri = "/user/" + this.editingUser.userId;
        let confirmed = await swal({
          title: 'Are you sure?',
          text: `You won't be able to revert this!`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).catch(swal.noop);
        if (confirmed) {
          let response = await this.axios.delete(uri);
          let dialog = await swal({
            title: 'User Deleted',
            //text: 'Your file has been deleted.',
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          }).catch((err) => {
            console.log(err)
          }).finally((r) => {
            this.fetchReps();
          });
        }
      },
      cancelEdit() {
        this.showEdit = false;
      },
      saveEdit() {
        this.showEdit = false;
        this.fetchReps();
      },
      addRep() {
        let newRep = _.cloneDeep(EmptyRep);
        this.editingUser = newRep;
        this.showEdit = true;
        this.detailLoaded = true;
      }
    }
  }
</script>
<style lang="scss">
  .el-table .td-actions{
    button.btn {
      margin-right: 5px;
    }
  }
</style>
