<template>
  <div>
    <div class="card" v-if="loaded">
      <div class="card-header">
        <h5 class="card-title">Users</h5>
        <div v-if="!showEdit">
        <p-button type="success" size="sm" icon @click="addUser()">
          +
        </p-button><span style="padding-left: 4px">Add User</span>
        </div>
      </div>
      <div class="card-body row" v-if="!showEdit">
        <div class="col-sm-12">
          <el-table :data="users" header-row-class-name="text-primary">
            <el-table-column type="index">

            </el-table-column>
            <el-table-column prop="authDetail.email"
                             label="Email">
            </el-table-column>
            <el-table-column :formatter="formatName"
                             label="Name">
            </el-table-column>
            <el-table-column :formatter="formatRepName"
                             label="Rep">
            </el-table-column>
            <el-table-column prop="userDetail.refCode"
                             label="RefCode">
            </el-table-column>
            <el-table-column :formatter="formatProfileCredits"
                              label="Profile">
            </el-table-column>
            <el-table-column :formatter="formatFarmCredits"
                             label="Farm">
            </el-table-column>
            <el-table-column :formatter="formatDocumentCredits"
                             label="Document">
            </el-table-column>
            <!--<el-table-column prop="active"-->
                             <!--label="Active">-->
            <!--</el-table-column>-->
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Actions">
              <template slot-scope="props">
                <p-button type="success" size="sm" icon @click="handleEdit(props.$index, props.row)">
                  <i class="fa fa-edit"></i>
                </p-button>
                <p-button type="danger" size="sm" icon @click="handleDelete(props.$index, props.row)">
                  <i class="fa fa-times"></i>
                </p-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="card-body row center" v-if="showEdit" id="user_edit">
        <user-edit
          v-if="detailLoaded"
          v-bind:user="editingUser"
          v-bind:save-edit-fn="saveEdit"
          v-bind:cancel-edit-fn="cancelEdit">
        </user-edit>
        <Loading v-if="!detailLoaded" class="col-md-6 ml-auto mr-auto"></Loading>
      </div>
    </div>
    <div v-if="!loaded && !showEdit">
      Loading...
      <Loading></Loading>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import UserEdit from 'src/components/UserAdmin/UserEdit.vue'
  import Loading from 'src/components/Dashboard/Layout/LoadingMainPanel.vue'
  import swal from 'sweetalert2'
  import {Button, Card} from 'src/components/UIComponents'
  import _ from 'lodash';
  Vue.use(Table);
  Vue.use(TableColumn);

  const EmptyUser = {
    userId: "new",
    authDetail: {
      email: "",
      phoneNumber: "",
    },
    userDetail: {
      userType: "Realtor",
      referralUserId: "",
      refCode: "",
      company: "",
      officeId: "",
      firstName: "",
      lastName: "",
      primaryPhoneSMS: true,
      suspended: false
    },
    userCredits: {
      allocatedProfileCredits: 0,
      allocatedFarmCredits: 0,
      remainingProfileCredits: 0,
      remainingFarmCredits: 0,
      allocatedDocumentCredits: 0,
      remainingDocumentCredits: 0
    }
  };

  export default{
    components: {
      UserEdit,
      Loading,
      Button,
      Card
    },
    data () {
      return {
        users: [],
        showEdit: false,
        messages: '',
        editingUser: null,
        loaded: false,
        detailLoaded: false
      }
    },
    created: function() {
      this.fetchItems();
    },
    methods: {
      formatFarmCredits( user ) {
        return user.userCredits.remainingFarmCredits + " / " + user.userCredits.allocatedFarmCredits;
      },
      formatProfileCredits( user ) {
        return user.userCredits.remainingProfileCredits + " / " + user.userCredits.allocatedProfileCredits;
      },
      formatDocumentCredits( user ) {
        return user.userCredits.remainingDocumentCredits + " / " + user.userCredits.allocatedDocumentCredits;
      },
      formatName( user ) {
        return user.userDetail.firstName + " " + user.userDetail.lastName;
      },
      formatRepName( user ) {
        return user.rep.userDetail.firstName + " " + user.rep.userDetail.lastName;
      },
      fetchItems() {
        this.loaded = false;
        let uri = "/users?user_type=Realtor";
        this.axios.get(uri).then(response => {

          this.users = response.data;
          this.loaded = true;
        });
      },
      handleEdit (index, row) {
        this.showEdit = true;
        this.detailLoaded = false;
        this.editingUser = this.users[index];
        let uri = "/user/" + this.editingUser.userId;
        this.axios.get(uri).then(response => {
          this.editingUser = response.data;
          this.detailLoaded = true;
        });
      },
      async handleDelete (index, row) {
        this.editingUser = this.users[index];
        let uri = "/user/" + this.editingUser.userId;
        let confirmed = await swal({
          title: 'Are you sure?',
          text: `You won't be able to revert this!`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).catch(swal.noop);
        if (confirmed) {
          let response = await this.axios.delete(uri);
          let dialog = await swal({
            title: 'User Deleted',
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          }).catch((err) => {
            console.log(err)
          }).finally((r) => {
            console.log(r);
            this.fetchItems();
          });
        }
      },
      cancelEdit() {
        this.showEdit = false;
      },
      saveEdit() {
        this.showEdit = false;
        this.fetchItems();
      },
      addUser() {
        let newUser = _.cloneDeep(EmptyUser);
        //newUser.userDetail.referral_user_id = "EkUwDsyy1faVxHhNzaQMQLomNmx2";
        this.editingUser = newUser;
        this.showEdit = true;
        this.detailLoaded = true;
      }
    }
  }
</script>
<style lang="scss">
  .el-table .td-actions {
    button.btn {
      margin-right: 5px;
    }
  }
  .el-table > .cell {
    word-break: normal;
  }
</style>
