<template>
  <div class="col-md-12">
    <form class="form-horizontal">
      <h4 slot="header" class="card-title">
      </h4>
      <div class="row">
         <label class="col-md-2 col-form-label">Email</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.authDetail.email"></fg-input>
        </div>
        <div class="col-md-2">
          <p-button type="info" size="md" icon @click="handleReferral('email')" class="no-margin">
            <i class="fa fa-share-square"></i>
          </p-button>
        </div>
        <label class="col-md-1 col-form-label">Suspended</label>
        <div class="col-md-1">
          <p-checkbox v-model="user.userDetail.suspended" :inline="true"></p-checkbox>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Phone</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.authDetail.phoneNumber"></fg-input>
          Phone can receive SMS/Text messages?<p-checkbox v-model="user.userDetail.primaryPhoneSMS" :inline="true"></p-checkbox>
        </div>
        <div class="col-md-2">
          <p-button type="info" size="md" icon @click="handleReferral('SMS')" class="no-margin">
            <i class="fa fa-share-square"></i>
          </p-button>

        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">First Name</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userDetail.firstName"></fg-input>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Last Name</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userDetail.lastName"></fg-input>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Company</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userDetail.company"></fg-input>
        </div>
      </div>
      <div class="row">
        <hr/>
      </div>
      <div class="row">
          <label class="col-md-2 col-form-label">Sales Rep</label>
          <el-select class="select-info col-md-3"
                     size="large"
                     :placeholder="selectRepsPlaceholder"
                     v-show="repsLoaded"
                     :value="salesRepUserId"
                     @change="selectRepChange"
                     ref="selectedRep"
                     >
            <el-option v-for="rep in reps"
                       class="select-info"
                       :label="rep.userDetail.firstName + ' ' + rep.userDetail.lastName"
                       :key="rep.userId"
                       :value="rep.userId">
            </el-option>
          </el-select>
        <el-select class="select-info col-md-3"
                   size="large"
                   value=""
                   :placeholder="selectRepsPlaceholder"
                   v-show="!repsLoaded">
        </el-select>

      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Profile Credits Remaining</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.remainingProfileCredits"></fg-input>
        </div>
        <label class="col-md-2 col-form-label">Profile Credits Allocated</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.allocatedProfileCredits"></fg-input>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Farm Credits Remaining</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.remainingFarmCredits"></fg-input>
        </div>
        <label class="col-md-2 col-form-label">Farm Credits Allocated</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.allocatedFarmCredits"></fg-input>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Document Credits Remaining</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.remainingDocumentCredits"></fg-input>
        </div>
        <label class="col-md-2 col-form-label">Document Credits Allocated</label>
        <div class="col-md-3">
          <fg-input placeholder="" v-model="user.userCredits.allocatedDocumentCredits"></fg-input>
        </div>
      </div>
      <div slot="footer" class="row">
        <label class="col-md-3"></label>
        <div class="col-md-9">
          <p-button @click="save" type="success" round>
            Save
          </p-button>
          <p-button @click="cancelEditFn" type="danger" round>
            Cancel
          </p-button>
        </div>
      </div>
    </form>
  </div> <!--  end col-md-6  -->
</template>

<script>
  import { Select, Option} from 'element-ui';
  import swal from 'sweetalert2';
  export default {
    components: {
      [Option.name]: Option,
      [Select.name]: Select,
    },
    name: "UserEdit",
    props: {
      cancelEditFn: Function,
      saveEditFn: Function,
      user: Object
    },
    mounted: async function() {
      await this.loadSalesReps();
      this.salesRepUserId = this.user.userDetail.referralUserId;
    },
    data: function () {
      return {
        repName: "",
        salesRepUserId: null,
        salesRep: null,
        reps: [],
        repsLoaded: false,
        selectRepsPlaceholder: "Loading Sales Reps.."
      }
    },
    methods: {
      async handleReferral( sendBy ) {
        let userId = this.user.userId;
        let uri = "/referral/send/" + sendBy + "/" + this.user.userId;
        let data = {};
        let confirmed = await swal({
          text: 'Send Referral?',
          type: 'info',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Send',
          buttonsStyling: false
        }).catch(swal.noop);
        if (confirmed) {
          let response = await this.axios.post(uri);
          let dialog = await swal({
            title: 'Referral Sent',
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          }).catch((err) => {
            console.log(err)
          }).finally((r) => {
            console.log(r);
          });
        }
      },
      async loadSalesReps() {
        //populate salesrep dropdown
        this.repsLoaded = false;
        let rep_url = "/users/?user_type=TitleRep";
        let reps_response = await this.axios.get(rep_url);
        this.reps = reps_response.data;
        this.selectRepsPlaceholder = "Select Sales Rep";
        this.repsLoaded = true;
      },
      selectRepChange(v) {
        this.salesRepUserId = v;
        this.salesRep = _.filter(this.reps, (x) => {if (x.userId === v) return x;})[0];
        this.user.userDetail.referralUserId = this.salesRepUserId;
        if (this.user.userId === "new") {
          this.user.userCredits.allocatedProfileCredits = this.salesRep.repDetail.defaultProfileCredits;
          this.user.userCredits.allocatedFarmCredits = this.salesRep.repDetail.defaultFarmCredits;
          this.user.userCredits.allocatedDocumentCredits = this.salesRep.repDetail.defaultDocumentCredits;
          this.user.userCredits.remainingProfileCredits = this.salesRep.repDetail.defaultProfileCredits;
          this.user.userCredits.remainingFarmCredits = this.salesRep.repDetail.defaultFarmCredits;
          this.user.userCredits.remainingDocumentCredits = this.salesRep.repDetail.defaultDocumentCredits;
        }
      },
      save() {
        this.saveUserData();
      },
      saveUserData() {
        //check if new user
        console.log("saveUserData");
        console.log(this.user.userId);
        if (this.user.userId === "new") {
          let uri = "/user/";
          console.log('creating user');
          this.axios.post(uri, this.user).then(
            response => {
              this.saveEditFn("User Saved");
              console.log('user saved');
            }
          );
        }
        else {
          let uri = "/user/" + this.user.userId;
          console.log('saving user');
          this.axios.patch(uri, this.user).then(
            response => {
              this.saveEditFn("User Saved");
              console.log('user saved');
            }
          );
        }
      }
    }
  }
</script>

<style scoped>
  .extended-forms .el-select {
    width: 100%;
    margin-bottom: 30px;
  }
  .no-margin {
    margin-top: 0px;
  }
</style>
