<template>
  <div>
    <!--Stats cards-->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" v-for="stats in statsCards">
        <stats-card :type="stats.type"
                    :icon="stats.icon"
                    :small-title="stats.title"
                    :title="stats.value"
                    :location="stats.location">
          <div class="stats" slot="footer">
            <i :class="stats.footerIcon"></i>
            {{stats.footerText}}
          </div>
        </stats-card>
      </div>
    </div>
  </div>
</template>
<script>
  import StatsCard from 'src/components/UIComponents/Cards/StatsCard';
  import Loading from 'src/components/Dashboard/Layout/LoadingMainPanel.vue'

  export default {
    components: {
      StatsCard
    },

    data () {
      return {
        statsCards: [
          {
            type: 'warning',
            icon: 'nc-icon nc-circle-10',
            title: 'User Activity',
            location: '/reports/useractivity',
            value: ''
          }
        ]
      }
    },
    created: function() {
      this.loadStats();
    },
    methods: {
      loadStats() {
        let uri = "/users?user_type=TitleRep";
        this.axios.get(uri).then(response => {
          this.statsCards[0] = response.data;
        });
      }
    }
  }

</script>
<style>

</style>
