<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">

      </nav>
      <div class="copyright pull-right">
       {{this.$version}}&nbsp;&nbsp;&copy; Red Shed Technology Corp
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    props: {
      version: String
    }
  }

</script>
<style>

</style>
