<template>
  <div class="login-page">
    <!--<app-navbar></app-navbar>-->
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
              <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <card type="login">
                  <h3 slot="header" class="header text-center">User Admin</h3>

                  <fg-input v-model="form.username" addon-left-icon="nc-icon nc-single-02" placeholder="Email"></fg-input>

                  <fg-input v-model="form.password" addon-left-icon="nc-icon nc-key-25" placeholder="Password" type="password"></fg-input>

                  <br>
                  <p-button slot="footer" type="warning" round block class="mb-3" @click="login">Login</p-button>
                  <p-button slot="footer" type="danger" round block class="mb-3" @click="logout">Logout</p-button>
                </card>
              </div>
          </div>
        </div>
        <app-footer></app-footer>
        <div class="full-page-background" ></div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {Card, Checkbox, Button} from 'src/components/UIComponents';
  import AppNavbar from './Layout/AppNavbar';
  import AppFooter from './Layout/AppFooter';
  import firebase from 'firebase';
  export default {
    components: {
      Card,
      AppNavbar,
      AppFooter,
      [Checkbox.name]: Checkbox,
      [Button.name]: Button
    },
    mounted: function () {
      console.log(this.$router);
      //for some reason the normal "this" context is not working inside the methods
      this.router = this.$router;
    },
    methods: {
      login: async function () {
        let r = await firebase.auth().signInWithEmailAndPassword(this.form.username, this.form.password)
          .catch(function(error) {
          // Handle Errors here.
          let errorCode = error.code;
          let errorMessage = error.message;
          console.log(errorMessage);
          //todo: display errors
          //set token
        });
        console.log(this.router);
        this.router.options.routes.forEach(route => {
          console.log(route.name + " " + route.path)
        });
        this.router.push("Overview");
      },
      logout: function () {
        console.log("logout");
        firebase.auth().signOut().catch(function(error) {
          // Handle Errors here.
          let errorCode = error.code;
          let errorMessage = error.message;
          console.log(errorMessage);
          //todo: display errors
          //set token
        });
      }
    },
    data() {
      return {
        form: {
          username: '',
          password: ''
        },
        router: null
      }
    }
  }
</script>
<style>
</style>
